<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}">

<head>
	<title>Relatório - Vendas Emitidas</title>
</head>

<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<h1>
				Relatório de vendas emitidas
			</h1>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="POST" th:object="${periodoRelatorio}" th:action="@{/relatorios/vendasEmitidas}" target="_blank">
			<th:block th:include="fragments/MensagensErroValidacao"></th:block>
			
			
			<div class="row" title="Informe o período para criar relatório de vendas emitidas">
				<div class="form-group  col-sm-2  bw-required">
					<label for="dataInicio">Data inicio</label>
					<div class="input-group" brewer:classforerror="dataInicio">
						<input type="text" class="form-control js-date col-sm-10" 
							id="dataInicio" th:field="*{dataInicio}" autocomplete="off"/>
					</div>
				</div>
				<div class="form-group  col-sm-2  bw-required">
					<label for="dataFim">Data fim</label>
					<div class="input-group" brewer:classforerror="dataFim">
						<input type="text" class="form-control js-date" 
							id="dataFim" th:field="*{dataFim}" autocomplete="off"/>
					</div>
				</div>
			</div>
				
			<button type="submit" class="btn  btn-primary" title="Emitir relatório">Emitir</button>
		</form>
	</div>
</section>

</html>