<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	
<body>
<aside class="aw-layout-sidebar  js-sidebar" th:fragment="layout-sidebar">
	<div class="aw-layout-sidebar__content">

    	<nav class="aw-menu  js-menu">
      		<ul class="aw-menu__list">

        		<li class="aw-menu__item" brewer:menu="@{/}" sec:authorize="hasRole('DASHBOARD')">
          			<a th:href="@{/}"><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        		</li>
        		
        		<li class="aw-menu__item" brewer:menu="@{/parametros}" sec:authorize="hasRole('MANTER_PARAMETROS')">
          			<a th:href="@{/parametros}"><i class="fa  fa-fw  fa-cog"></i><span>Configurações</span></a>
        		</li>
        		
        		<li class="aw-menu__item" sec:authorize="hasAnyRole('MANTER_VENDAS','MANTER_VENDAS_FATURADAS')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-credit-card"></i><span>Vendas</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas.+}" sec:authorize="hasRole('MANTER_VENDAS')">
			            	<a th:href="@{/vendas/nova}">Cadastro de venda</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas}" sec:authorize="hasRole('MANTER_VENDAS')">
			            	<a th:href="@{/vendas}">Pesquisa de vendas</a>
			            </li>
			            
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/vendas/faturadas}" sec:authorize="hasRole('MANTER_VENDAS_FATURADAS')">
			            	<a th:href="@{/vendas/faturadas}">Vendas faturadas</a>
			            </li>
			        </ul>
			    </li>

        		<li class="aw-menu__item" sec:authorize="hasAnyRole('MANTER_PRODUTOS','MANTER_CATEGORIAS')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-truck"></i><span>Estoque</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>
      
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/categorias.*}" sec:authorize="hasRole('MANTER_CATEGORIAS')">
			            	<a th:href="@{/categorias}">Categorias</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/produtos.*}" sec:authorize="hasRole('MANTER_PRODUTOS')">
			            	<a th:href="@{/produtos}">Produtos</a>
			            </li>
          			</ul>
        		</li>

        		<li class="aw-menu__item" sec:authorize="hasAnyRole('MANTER_CLIENTES','MANTER_USUARIOS','MANTER_FORNECEDORES')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-database"></i><span>Cadastros</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/fornecedores.*}" sec:authorize="hasRole('MANTER_FORNECEDORES')">
			            	<a th:href="@{/fornecedores}">Fornecedores</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/clientes.*}" sec:authorize="hasRole('MANTER_CLIENTES')">
			            	<a th:href="@{/clientes}">Clientes</a>
			            </li>
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/usuarios.*}" sec:authorize="hasRole('MANTER_USUARIOS')">
			            	<a th:href="@{/usuarios}">Usuários</a>
			            </li>
          			</ul>
        		</li>	
        		
        		<li class="aw-menu__item" sec:authorize="hasRole('RELATORIOS')">
          			<a href="#">
            			<i class="fa  fa-fw  fa-file-pdf-o"></i><span>Relatórios</span>
            			<i class="aw-menu__navigation-icon  fa"></i>
          			</a>

          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{.*/vendasEmitidas}">
			            	<a th:href="@{/relatorios/vendasEmitidas}">Vendas Emitidas</a>
			            </li>
          			</ul>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{.*/vendasFinalizadas}">
			            	<a th:href="@{/relatorios/vendasFinalizadas}">Vendas Finalizadas</a>

			            </li>
          			</ul>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{.*/comissaoVendedor}" sec:authorize-url="/relatorios/comissaoVendedor">
			            	<a th:href="@{/relatorios/comissaoVendedor}">Comissão Vendedor</a>
			            </li>
          			</ul>
          			<ul class="aw-menu__list  aw-menu__list--sublist">
			            <li class="aw-menu__item  aw-menu__item--link" brewer:menu="@{/relatorios/produtos}">
			            	<a th:href="@{/relatorios/produtos}">Produtos</a>
			            </li>
          			</ul>
        		</li>
      		</ul>
    	</nav>
	</div>
</aside>
</body>
</html>