<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Pesquisa de Clientes</title>
</head>

<body>
<section layout:fragment="conteudo">
	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1>Pesquisa de Fornecedores</h1>
				</div>
				
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/fornecedores/novo}" title="Cadastrar novo fornecedor">
							<i class="glyphicon  glyphicon-plus-sign"></i> <span class="hidden-xs  hidden-sm">Novo fornecedor</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div class="container-fluid">
		<form method="GET" th:object="${fornecedorFilter}">
			<div class="row">
				<div class="form-group  col-sm-8">
					<label class="control-label" for="nome">Nome</label>
					<input type="text" class="form-control" id="nome" autofocus="autofocus" th:field="*{nome}" title="Digite o nome do fornecedor"/>
				</div>
				
				<div class="form-group  col-sm-4">
					<label for="cpfOuCnpj" class="control-label">CPF/CNPJ</label>
					<input type="text" class="form-control" id="cpfOuCnpj" th:field="*{cpfOuCnpj}" maxlength="18" title="Digite CPF ou CNPJ do fornecedor"/>
				</div>
			</div>
			
			<button type="submit" class="btn  btn-primary" title="Pesquisar fornecedor"><i class="glyphicon glyphicon-search"></i> Pesquisar</button>
		</form>
		
		<div class="table-responsive  bw-tabela-simples">
			<table class="table  table-hover">
				<thead>
					<tr>
						<th class="table-fornecedor-col-nome">
							<brewer:order page="${pagina}" field="nome" text="Nome"/>
						</th>
						<th class="table-fornecedor-col-tipo-pessoa">
							<brewer:order page="${pagina}" field="tipoPessoa" text="Tipo Pessoa"/>
						</th>
						<th class="table-fornecedor-col-cpf-cnpj">CPF/CNPJ</th>
						<th class="table-fornecedor-col-telefone">Telefone</th>
						<th class="table-fornecedor-col-status">Status</th>
						<th class="table-fornecedor-col-cidade-estado">Cidade/Estado</th>
						<th class="table-col-acoes"></th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="fornecedor : ${pagina.conteudo}">
						<td th:text="${fornecedor.nome}"></td>
						<td class="text-center" th:text="${fornecedor.tipoPessoa.descricao}">Física</td>
						<td class="text-right" th:text="${fornecedor.cpfOuCnpj}">111.111.111-11</td>
						<td class="text-right" th:text="${fornecedor.telefone}">(11) 99999-9999</td>
						<td class="text-right">
							<th:block th:if="${fornecedor.ativo}">
								<span class="label  label-success">Ativo</span>
							</th:block>
							<th:block th:if="${not fornecedor.ativo}">
								<span class="label  label-danger">Inativo</span>
							</th:block>
						</td>
						<td class="text-right" th:text="${fornecedor.endereco.cidade} + '/' + ${fornecedor.endereco.estado}"></td>
						<td class="text-center">
							<a class="btn  btn-link  btn-xs icon_black js-tooltip" title="Editar" th:href="@{/fornecedores/{codigo}(codigo=${fornecedor.codigo})}"> 
								<i class="glyphicon glyphicon-pencil"></i>
							</a>
							<a class="btn  btn-link  btn-xs icon_red js-tooltip js-exclusao-btn-logico" title="Excluir" data:objeto="${fornecedor.nome}"
							 href="#" data:url="@{/fornecedores/{codigo}(codigo=${fornecedor.codigo})}">
								<i class="glyphicon glyphicon-remove"></i>
							</a>
						</td>
					</tr>
					<tr th:if="${pagina.vazia}">
						<td colspan="5">Nenhum fornecedor encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<brewer:pagination page="${pagina}"/>
		
	</div>
</section>
</body>
</html>