<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/LayoutPadrao}"
	xmlns:brewer="http://brewer.algaworks.com"
	xmlns:data="http://www.thymeleaf.org/extras/data">
	
<head>
	<title>Cadastro de Produto</title>
	
	<link rel="stylesheet" th:href="@{/stylesheets/vendors/upload.min.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/stylesheets/vendors/bootstrap-switch.min.css}"/>
</head>

<body>
<section layout:fragment="conteudo">

	<div class="page-header">
		<div class="container-fluid">
			<div class="row">
				<div class="col-xs-10">
					<h1 th:if="${produto.nova}">Cadastro de Produto</h1>
					<h1 th:unless="${produto.nova}" th:text="|Edição da ${produto.nome}|">Edição de Produto</h1>
				</div>
			
				<div class="col-xs-2">
					<div class="aw-page-header-controls">
						<a class="btn  btn-default" th:href="@{/produtos}">
							<i class="glyphicon glyphicon-search"></i> <span class="hidden-xs  hidden-sm">Pesquisa</span>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="container-fluid">

		<form method="POST" th:object="${produto}" class="form-vertical  js-form-loading" 
				th:action="${produto.nova} ? @{/produtos/nova} : @{/produtos/{codigo}(codigo=${produto.codigo})}">
			<brewer:message/>
			
			<input type="hidden" th:field="*{codigo}"/>
	
			<div class="row">
				<div class="col-sm-2  form-group  bw-required" brewer:classforerror="sku">
					<label for="sku" class="control-label">SKU</label>
					<input id="sku" type="text" class="form-control" th:field="*{sku}"/>
				</div>
				
				<div class="col-sm-10  form-group bw-required" brewer:classforerror="nome">
					<label for="nome" class="control-label">Nome</label>
					<input id="nome" type="text" class="form-control" th:field="*{nome}"/>
				</div>
			</div>

			<div class="form-group  bw-required" brewer:classforerror="descricao">
				<label for="descricao" class="control-label">Descrição</label>
				<textarea id="descricao" rows="3" class="form-control" th:field="*{descricao}"></textarea>
			</div>

			<div class="row">

				<div class="form-group  col-sm-4  bw-required" brewer:classforerror="fornecedor">
					<label class="control-label" for="nomeFornecedor">Fornecedor</label>
					<div class="input-group">
				      <input id="nomeFornecedor" type="text" readonly="readonly" class="form-control" th:field="*{fornecedor.nome}" 
				      	placeholder="Clique na lupa para pesquisar o forncedor"/>
				      <input id="codigoFornecedor" type="hidden" th:field="*{fornecedor}"/>
				      <span class="input-group-btn">
				        <button class="btn  btn-default  js-tooltip" type="button" title="Pesquisa avançada"
				        		data-toggle="modal" data-target="#pesquisaRapidaFornecedores">
				        	<i class="glyphicon  glyphicon-search"></i>
				        </button>
				      </span>
				    </div>
				</div>
				
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="categoria">
					<label for="categoria" class="control-label">Categoria</label>
					<div class="bw-field-action">
						<select id="categoria" class="form-control" th:field="*{categoria}">
							<option value="">Selecione a categoria</option>
							<option th:each="categoria : ${categorias}" th:value="${categoria.codigo}" th:text="${categoria.nome}">Pale lager</option>
						</select>
						
						<div class="bw-field-action__icon">
							<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoCategoria">
								<i class="glyphicon  glyphicon-plus-sign  bw-glyphicon-large"></i>
							</a>
						</div>
					</div>
				</div>
				
				<div class="form-group  col-sm-4">
					<label class="control-label">Status</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" th:field="*{ativo}"
							data-on-text="Ativo" data-off-text="Inativo"/>
					</div>
				</div>
				
			</div>	
			<div class="row">
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="valorCompra">
					<label for="valorCompra" class="control-label">Valor compra</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valorCompra" type="text" class="form-control  js-decimal" th:field="*{valorCompra}"/>
					</div>
				</div>
				
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="valor">
					<label for="valor" class="control-label">Valor venda</label>
					<div class="input-group">
						<div class="input-group-addon">R$</div>
						<input id="valor" type="text" class="form-control  js-decimal" th:field="*{valor}"/>
					</div>
				</div>

				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="comissao">
					<label for="comissao" class="control-label">Comissão</label>
					<div class="input-group">
						<input id="comissao" type="text" class="form-control  js-decimal" th:field="*{comissao}"/>
						<div class="input-group-addon">%</div>
					</div>
				</div>				
				
			</div>
			
			<div class="row">
		
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="quantidadeMinima">
					<label for="quantidadeMinima" class="control-label">Estoque Minimo</label>
					<input id="quantidadeMinima" type="text" class="form-control  js-plain" th:field="*{quantidadeMinima}"/>
				</div>
				
				<div class="col-sm-3  form-group  bw-required" brewer:classforerror="quantidadeEstoque">
					<label for="estoque" class="control-label">Estoque</label>
					<input id="estoque" type="text" class="form-control  js-plain" th:field="*{quantidadeEstoque}"/>
				</div>
				
				<div class="form-group  col-sm-4">
					<label class="control-label">Controla Estoque</label>
					<div>
						<input type="checkbox" class="js-status" data-size="small" data-off-color="danger" th:field="*{estoqueAtivo}"
							data-on-text="Ativo" data-off-text="Inativo"/>
					</div>
				</div>
				
			</div>
			
			<div class="row">
				<div class="form-group  col-sm-12">
					<input type="hidden" th:field="*{foto}">
					<input type="hidden" th:field="*{contentType}">
					<input type="hidden" th:field="*{novaFoto}">
					<input type="hidden" th:field="*{urlFoto}">
				
					<label class="control-label">Foto</label>
					
					<div class="js-container-foto-produto" th:attr="data-url-fotos=@{/fotos}">
						<div id="upload-drop" class="bw-upload">
							<img th:src="@{/images/mini-loading.gif}" class="js-img-loading  hidden"/>
							<i class="glyphicon  glyphicon-cloud-upload"></i>
							<span>Arraste a foto aqui ou </span>
							<a class="bw-upload-form-file">selecione <input id="upload-select" type="file" accept=".jpg,.jpeg,.png"/></a>
						</div>
					</div>
				</div>
			</div>
			
			<div class="form-group">
				<button class="btn  btn-primary" type="submit">Salvar</button>
			</div>
	
		</form>
	</div>
	
	<div th:replace="categoria/CadastroRapidoCategoria :: modal"></div>
	<th:block th:replace="fornecedor/PesquisaRapidaFornecedores :: pesquisaRapidaFornecedores"></th:block>
	<th:block th:replace="hbs/FotoCerveja"></th:block>
</section>

<th:block layout:fragment="javascript-extra">
	<script th:src="@{/javascripts/categoria.cadastro-rapido.js}"></script>
	<script th:src="@{/javascripts/vendors/uikit.min.js}"></script>
	<script th:src="@{/javascripts/vendors/upload.min.js}"></script>
	<script th:src="@{/javascripts/vendors/handlebars.min.js}"></script>
	<script th:src="@{/javascripts/produto.upload-foto.js}"></script>
	<script th:src="@{/javascripts/fornecedor.pesquisa-rapida.js}"></script>
	<script th:src="@{/javascripts/vendors/bootstrap-switch.min.js}"></script>
	<script>
		$('.js-status').bootstrapSwitch();
	</script>	
</th:block>
	
</body>
</html>